.default-input {
    @include flex-column;
    gap: 4px;
    
    p {
        @include text_s;
    }

    input {
        border: 1px solid $cl-primary;
        border-radius: 4px;
    }

    &_l {
        input {
            padding: 6px 10px;
            @include text_m;
        }
    }

    &_m {
        input {
            padding: 4px 8px;
            @include text_xs; 
        }
    }
}