.text {
    &_xl {
        @include text_xl;
    }

    &_l {
        @include text_l;
    }

    &_m {
        @include text_m;
    }

    &_s {
        @include text_s;
    }

    &_xs {
        @include text_xs;
    }

    &_weight_head {
        font-weight: $t-weight-head;
    }

    &_weight_accent {
        font-weight: $t-weight-accent;
    }

    &_blocked {
        display: block;
    }

    &_centered {
        text-align: center;
    }

    &_nowrap {
        white-space: nowrap;
    }

    &_ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
