.app {
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
    }
}