.default-button {
    @include default-button;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;

    &_primary {
        background: $cl-primary;
        color: white;

        &:hover {
            filter: brightness(90%);
        }
    }

    &_rounded {
        border-radius: 50%;

        &_l {
            padding: 4px;

            i {
                font-size: 24px;
            }
        }

        &_m {
            padding: 4px;

            i {
                font-size: 16px;
            }
        }
    }

    &_rectangular {
        &_l {
            padding: 6px 10px;
            @include text_m;
        }

        &_m {
            padding: 4px 8px;
            @include text_xs;
        }
    }

    &_mirrored {
        i {
            order: 1;
        }
    }

    &_resetted {
        padding: 0px;
    }
}
